In [259]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from scipy import stats
%matplotlib inline

import statsmodels.api as sm

In [260]:
df=pd.read_csv("database.csv")
df.sample(5)

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,...,2006_ELIGIBILITY,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION
4238,200332,North Dakota State University,0,2014,4,Football,1,2,The Summit League,349,...,0.9490,0.9745,83,947,0.9259,0.9689,-99,-99,-99.0,-99.0000
1605,145637,"University of Illinois, Champaign",0,2014,18,Men's Wrestling,1,1,Big Ten Conference,73,...,0.9394,1.0000,19,946,0.9460,0.9460,19,1000,1.0,1.0000
4690,212106,Duquesne University,1,2014,36,Women's Volleyball,1,2,Atlantic 10 Conference,48,...,1.0000,1.0000,11,976,1.0000,0.9524,12,958,1.0,0.9167
4467,206622,Xavier University,1,2014,15,"Men's Track, Outdoor",1,3,Big East Conference,50,...,1.0000,0.9546,14,1000,1.0000,1.0000,-99,-99,-99.0,-99.0000
4055,199111,University of North Carolina Asheville,0,2014,21,Women's Cross Country,1,3,Big South Conference,42,...,0.9048,0.9524,16,903,0.9677,0.8387,10,1000,1.0,1.0000

In [261]:
df.columns

Index(['SCHOOL_ID', 'SCHOOL_NAME', 'SCHOOL_TYPE', 'ACADEMIC_YEAR',
       'SPORT_CODE', 'SPORT_NAME', 'NCAA_DIVISION', 'NCAA_SUBDIVISION',
       'NCAA_CONFERENCE', 'FOURYEAR_ATHLETES', 'FOURYEAR_SCORE',
       'FOURYEAR_ELIGIBILITY', 'FOURYEAR_RETENTION', '2014_ATHLETES',
       '2014_SCORE', '2014_ELIGIBILITY', '2014_RETENTION', '2013_ATHLETES',
       '2013_SCORE', '2013_ELIGIBILITY', '2013_RETENTION', '2012_ATHLETES',
       '2012_SCORE', '2012_ELIGIBILITY', '2012_RETENTION', '2011_ATHLETES',
       '2011_SCORE', '2011_ELIGIBILITY', '2011_RETENTION', '2010_ATHLETES',
       '2010_SCORE', '2010_ELIGIBILITY', '2010_RETENTION', '2009_ATHLETES',
       '2009_SCORE', '2009_ELIGIBILITY', '2009_RETENTION', '2008_ATHLETES',
       '2008_SCORE', '2008_ELIGIBILITY', '2008_RETENTION', '2007_ATHLETES',
       '2007_SCORE', '2007_ELIGIBILITY', '2007_RETENTION', '2006_ATHLETES',
       '2006_SCORE', '2006_ELIGIBILITY', '2006_RETENTION', '2005_ATHLETES',
       '2005_SCORE', '2005_ELIGIBILITY', '2005_RETENTION', '2004_ATHLETES',
       '2004_SCORE', '2004_ELIGIBILITY', '2004_RETENTION'],
      dtype='object')

In [262]:
df.drop(df[df['2004_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2005_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2006_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2007_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2008_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2009_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2010_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2011_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2012_RETENTION'] ==-99.0000].index, inplace=True)
df.drop('ACADEMIC_YEAR',axis=1,inplace=True)
df.drop('SCHOOL_TYPE',axis=1,inplace=True)
df = df.reset_index(drop=True)
df.sample(5) 

# i know this can be looped, but too lazy atm

,SCHOOL_ID,SCHOOL_NAME,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,FOURYEAR_SCORE,FOURYEAR_ELIGIBILITY,...,2006_ELIGIBILITY,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION
4166,215770,Saint Joseph's University,35,"Women's Track, Outdoor",1,3,Atlantic 10 Conference,106,991,0.9906,...,0.9773,1.0000,23,956,0.9556,0.9556,27,991,0.9811,1.0000
893,131520,Howard University,13,Men's Tennis,1,2,Mid-Eastern Athletic Conference,24,1000,1.0000,...,1.0000,1.0000,7,857,0.9286,0.7857,6,955,0.9091,1.0000
2916,190150,Columbia University-Barnard College,1,Baseball,1,2,The Ivy League,112,993,0.9955,...,1.0000,1.0000,23,1000,1.0000,1.0000,23,989,1.0000,0.9783
3839,207500,University of Oklahoma,31,Women's Soccer,1,1,Big 12 Conference,109,985,0.9805,...,0.9773,0.9773,24,990,0.9792,1.0000,30,974,0.9825,0.9649
1982,162928,Johns Hopkins University,28,Women's Lacrosse,3,-99,Centennial Conference,90,1000,1.0000,...,1.0000,0.9722,21,1000,1.0000,1.0000,20,1000,1.0000,1.0000

In [263]:
df['avg_scores']=df[['2014_SCORE','2013_SCORE','2012_SCORE','2011_SCORE','2010_SCORE','2009_SCORE','2008_SCORE','2007_SCORE','2006_SCORE','2005_SCORE','2004_SCORE']].mean(axis=1)
df[['NCAA_CONFERENCE','SPORT_NAME','avg_scores']]

                       NCAA_CONFERENCE              SPORT_NAME   avg_scores
0     Southwestern Athletic Conference                Baseball   938.090909
1     Southwestern Athletic Conference                Football   925.181818
2     Southwestern Athletic Conference        Men's Basketball   933.363636
3     Southwestern Athletic Conference    Men's Track, Outdoor   940.454545
4     Southwestern Athletic Conference      Women's Basketball   987.909091
...                                ...                     ...          ...
5442                Big Ten Conference        Women's Swimming   975.363636
5443                Big Ten Conference          Women's Tennis   972.545455
5444                Big Ten Conference   Women's Track, Indoor   975.909091
5445                Big Ten Conference  Women's Track, Outdoor   977.181818
5446                Big Ten Conference      Women's Volleyball  1000.000000

[5447 rows x 3 columns]

In [264]:
df

,SCHOOL_ID,SCHOOL_NAME,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,FOURYEAR_SCORE,FOURYEAR_ELIGIBILITY,...,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION,avg_scores
0,100654,Alabama A&M University,1,Baseball,1,2,Southwestern Athletic Conference,80,931,0.9020,...,0.9487,21,917,0.8810,0.9524,20,975,0.9750,0.9750,938.090909
1,100654,Alabama A&M University,4,Football,1,2,Southwestern Athletic Conference,321,932,0.8861,...,0.9630,74,921,0.8759,0.9655,74,871,0.8601,0.8811,925.181818
2,100654,Alabama A&M University,2,Men's Basketball,1,2,Southwestern Athletic Conference,43,964,0.9177,...,0.8462,11,909,0.9091,0.9091,10,950,0.9500,0.9500,933.363636
3,100654,Alabama A&M University,15,"Men's Track, Outdoor",1,2,Southwestern Athletic Conference,59,939,0.8879,...,0.9429,11,929,0.8571,1.0000,12,938,0.9167,0.9583,940.454545
4,100654,Alabama A&M University,19,Women's Basketball,1,2,Southwestern Athletic Conference,53,990,0.9903,...,1.0000,14,1000,1.0000,1.0000,13,960,1.0000,0.9200,987.909091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5442,243780,Purdue University,32,Women's Swimming,1,1,Big Ten Conference,118,985,0.9824,...,0.9483,26,1000,1.0000,1.0000,25,968,0.9575,0.9787,975.363636
5443,243780,Purdue University,33,Women's Tennis,1,1,Big Ten Conference,35,1000,1.0000,...,0.9474,9,941,0.9412,0.9412,9,971,1.0000,0.9412,972.545455
5444,243780,Purdue University,34,"Women's Track, Indoor",1,1,Big Ten Conference,119,974,0.9700,...,1.0000,23,989,0.9778,1.0000,30,940,0.9138,0.9655,975.909091
5445,243780,Purdue University,35,"Women's Track, Outdoor",1,1,Big Ten Conference,118,978,0.9740,...,1.0000,23,989,0.9778,1.0000,30,940,0.9138,0.9655,977.181818
5446,243780,Purdue University,36,Women's Volleyball,1,1,Big Ten Conference,54,1000,1.0000,...,1.0000,14,1000,1.0000,1.0000,13,1000,1.0000,1.0000,1000.000000

In [265]:
df[['SPORT_CODE','SPORT_NAME']].sample(50)

      SPORT_CODE              SPORT_NAME
4345           6              Men's Golf
3019          32        Women's Swimming
1104          11            Men's Soccer
4075           6              Men's Golf
3458           3     Men's Cross Country
3948          32        Women's Swimming
242           21   Women's Cross Country
1509          32        Women's Swimming
3422          14     Men's Track, Indoor
5033          14     Men's Track, Indoor
5432          12          Men's Swimming
80            35  Women's Track, Outdoor
2508          19      Women's Basketball
4386          34   Women's Track, Indoor
4146          34   Women's Track, Indoor
3360          35  Women's Track, Outdoor
2001          12          Men's Swimming
4239          15    Men's Track, Outdoor
724           24    Women's Field Hockey
5334          11            Men's Soccer
4268          14     Men's Track, Indoor
4884           2        Men's Basketball
4415          33          Women's Tennis
594           15    Men's Track, Outdoor
2782          36      Women's Volleyball
1814           4                Football
2923          12          Men's Swimming
2449          31          Women's Soccer
5136           4                Football
5145          28        Women's Lacrosse
4138          21   Women's Cross Country
2562          36      Women's Volleyball
3836          21   Women's Cross Country
4720           1                Baseball
1565          31          Women's Soccer
935           34   Women's Track, Indoor
48            13            Men's Tennis
4549          36      Women's Volleyball
749           24    Women's Field Hockey
4617           1                Baseball
598           25            Women's Golf
2124          12          Men's Swimming
4863          32        Women's Swimming
4006           2        Men's Basketball
2221          19      Women's Basketball
3113          35  Women's Track, Outdoor
4158          21   Women's Cross Country
2922          11            Men's Soccer
2460          15    Men's Track, Outdoor
888            4                Football

In [266]:
df.filter(like='ATHLETES', axis=1)

,FOURYEAR_ATHLETES,2014_ATHLETES,2013_ATHLETES,2012_ATHLETES,2011_ATHLETES,2010_ATHLETES,2009_ATHLETES,2008_ATHLETES,2007_ATHLETES,2006_ATHLETES,2005_ATHLETES,2004_ATHLETES
0,80,21,22,25,12,16,16,16,16,21,21,20
1,321,78,86,78,79,69,74,64,75,70,74,74
2,43,12,10,8,13,12,8,12,14,13,11,10
3,59,17,15,13,14,13,14,9,10,18,11,12
4,53,14,14,12,13,11,14,15,14,14,14,13
...,...,...,...,...,...,...,...,...,...,...,...,...
5442,118,28,34,30,26,21,23,28,26,30,26,25
5443,35,10,7,9,9,8,10,8,9,10,9,9
5444,119,29,28,26,36,29,27,22,26,27,23,30
5445,118,29,28,26,35,29,27,22,26,27,23,30
5446,54,14,14,13,13,14,14,15,15,14,14,13

In [267]:
conference=pd.DataFrame(df.groupby(['NCAA_CONFERENCE']).mean())
conference.columns

Index(['SCHOOL_ID', 'SPORT_CODE', 'NCAA_DIVISION', 'NCAA_SUBDIVISION',
       'FOURYEAR_ATHLETES', 'FOURYEAR_SCORE', 'FOURYEAR_ELIGIBILITY',
       'FOURYEAR_RETENTION', '2014_ATHLETES', '2014_SCORE', '2014_ELIGIBILITY',
       '2014_RETENTION', '2013_ATHLETES', '2013_SCORE', '2013_ELIGIBILITY',
       '2013_RETENTION', '2012_ATHLETES', '2012_SCORE', '2012_ELIGIBILITY',
       '2012_RETENTION', '2011_ATHLETES', '2011_SCORE', '2011_ELIGIBILITY',
       '2011_RETENTION', '2010_ATHLETES', '2010_SCORE', '2010_ELIGIBILITY',
       '2010_RETENTION', '2009_ATHLETES', '2009_SCORE', '2009_ELIGIBILITY',
       '2009_RETENTION', '2008_ATHLETES', '2008_SCORE', '2008_ELIGIBILITY',
       '2008_RETENTION', '2007_ATHLETES', '2007_SCORE', '2007_ELIGIBILITY',
       '2007_RETENTION', '2006_ATHLETES', '2006_SCORE', '2006_ELIGIBILITY',
       '2006_RETENTION', '2005_ATHLETES', '2005_SCORE', '2005_ELIGIBILITY',
       '2005_RETENTION', '2004_ATHLETES', '2004_SCORE', '2004_ELIGIBILITY',
       '2004_RETENTION', 'avg_scores'],
      dtype='object')

In [268]:

conference.drop(['SCHOOL_ID', 'SPORT_CODE', 'NCAA_DIVISION', 'NCAA_SUBDIVISION',
       'FOURYEAR_ATHLETES', 'FOURYEAR_SCORE', 'FOURYEAR_ELIGIBILITY',
       'FOURYEAR_RETENTION', '2014_ATHLETES', '2014_SCORE', '2014_ELIGIBILITY',
       '2014_RETENTION', '2013_ATHLETES', '2013_SCORE', '2013_ELIGIBILITY',
       '2013_RETENTION', '2012_ATHLETES', '2012_SCORE', '2012_ELIGIBILITY',
       '2012_RETENTION', '2011_ATHLETES', '2011_SCORE', '2011_ELIGIBILITY',
       '2011_RETENTION', '2010_ATHLETES', '2010_SCORE', '2010_ELIGIBILITY',
       '2010_RETENTION', '2009_ATHLETES', '2009_SCORE', '2009_ELIGIBILITY',
       '2009_RETENTION', '2008_ATHLETES', '2008_SCORE', '2008_ELIGIBILITY',
       '2008_RETENTION', '2007_ATHLETES', '2007_SCORE', '2007_ELIGIBILITY',
       '2007_RETENTION', '2006_ATHLETES', '2006_SCORE', '2006_ELIGIBILITY',
       '2006_RETENTION', '2005_ATHLETES', '2005_SCORE', '2005_ELIGIBILITY',
       '2005_RETENTION', '2004_ATHLETES', '2004_SCORE', '2004_ELIGIBILITY',
       '2004_RETENTION'],axis=1,inplace=True) 
conference

                                                 avg_scores
NCAA_CONFERENCE
America East Conference                          973.117647
American Athletic Conference                     967.552208
Atlantic 10 Conference                           976.708938
Atlantic Coast Conference                        979.430264
Atlantic Sun Conference                          965.911157
Big 12 Conference                                968.554286
Big East Conference                              983.159555
Big Sky Conference                               958.581439
Big South Conference                             966.683712
Big Ten Conference                               978.456203
Big West Conference                              962.437457
Centennial Conference                            985.212121
Colonial Athletic Association                    975.974902
Conference USA                                   963.182237
East Coast Conference                            952.545455
Empire 8                                         964.909091
Great Lakes Intercollegiate Athletic Conference  972.750000
Great Northwest Athletic Conference              950.090909
Gulf South Conference                            951.545455
Horizon League                                   967.174983
Liberty League                                   985.121212
Metro Atlantic Athletic Conference               976.694167
Mid-American Conference                          970.968398
Mid-Eastern Athletic Conference                  939.310463
Missouri Valley Conference                       973.550837
Mountain West Conference                         964.259671
Northeast Conference                             968.313700
Northeast-10 Conference                          986.151515
Northern Sun Intercollegiate Conference          969.272727
Ohio Valley Conference                           964.972070
Pac-12 Conference                                973.300000
Patriot League                                   985.819198
Peach Belt Conference                            967.136364
Pennsylvania State Athletic Conference           948.090909
Southeastern Conference                          971.378962
Southern Collegiate Athletic Conference          992.681818
Southern Conference                              968.854296
Southland Conference                             946.561772
Southwestern Athletic Conference                 934.773123
Sun Belt Conference                              956.932760
The Ivy League                                   993.227668
The Summit League                                966.537500
West Coast Conference                            974.075213
Western Athletic Conference                      945.689935

In [269]:
conference.min()

avg_scores    934.773123
dtype: float64