In [182]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from scipy import stats
%matplotlib inline

import statsmodels.api as sm

In [183]:
df=pd.read_csv("database.csv")
df.sample(5)

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,...,2006_ELIGIBILITY,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION
4003,198561,Gardner-Webb University,1,2014,14,"Men's Track, Indoor",1,2,Big South Conference,92,...,0.9697,0.9697,14,960,0.9600,0.9600,8,900,0.9333,0.8667
3981,198516,Elon University,1,2014,3,Men's Cross Country,1,2,Colonial Athletic Association,32,...,1.0000,1.0000,12,958,0.9583,0.9583,11,1000,1.0000,1.0000
4956,217156,Brown University,1,2014,17,Men's Water Polo,1,2,The Ivy League,52,...,1.0000,1.0000,11,1000,1.0000,1.0000,13,1000,1.0000,1.0000
5073,217864,The Citadel,0,2014,14,"Men's Track, Indoor",1,2,Southern Conference,109,...,0.9800,0.9800,19,986,1.0000,0.9730,19,959,0.9730,0.9460
5971,231174,University of Vermont,0,2014,14,"Men's Track, Indoor",1,3,America East Conference,64,...,0.9524,0.9524,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000

In [184]:
df.columns

Index(['SCHOOL_ID', 'SCHOOL_NAME', 'SCHOOL_TYPE', 'ACADEMIC_YEAR',
       'SPORT_CODE', 'SPORT_NAME', 'NCAA_DIVISION', 'NCAA_SUBDIVISION',
       'NCAA_CONFERENCE', 'FOURYEAR_ATHLETES', 'FOURYEAR_SCORE',
       'FOURYEAR_ELIGIBILITY', 'FOURYEAR_RETENTION', '2014_ATHLETES',
       '2014_SCORE', '2014_ELIGIBILITY', '2014_RETENTION', '2013_ATHLETES',
       '2013_SCORE', '2013_ELIGIBILITY', '2013_RETENTION', '2012_ATHLETES',
       '2012_SCORE', '2012_ELIGIBILITY', '2012_RETENTION', '2011_ATHLETES',
       '2011_SCORE', '2011_ELIGIBILITY', '2011_RETENTION', '2010_ATHLETES',
       '2010_SCORE', '2010_ELIGIBILITY', '2010_RETENTION', '2009_ATHLETES',
       '2009_SCORE', '2009_ELIGIBILITY', '2009_RETENTION', '2008_ATHLETES',
       '2008_SCORE', '2008_ELIGIBILITY', '2008_RETENTION', '2007_ATHLETES',
       '2007_SCORE', '2007_ELIGIBILITY', '2007_RETENTION', '2006_ATHLETES',
       '2006_SCORE', '2006_ELIGIBILITY', '2006_RETENTION', '2005_ATHLETES',
       '2005_SCORE', '2005_ELIGIBILITY', '2005_RETENTION', '2004_ATHLETES',
       '2004_SCORE', '2004_ELIGIBILITY', '2004_RETENTION'],
      dtype='object')

In [185]:
df.drop(df[df['2004_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2005_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2006_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2007_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2008_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2009_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2010_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2011_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2012_RETENTION'] ==-99.0000].index, inplace=True)
df.drop('ACADEMIC_YEAR',axis=1)
df.drop('SCHOOL_TYPE',axis=1)
df = df.reset_index(drop=True)
df.sample(5) 

# i know this can be looped, but too lazy atm

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,...,2006_ELIGIBILITY,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION
1967,161253,"University of Maine, Orono",0,2014,32,Women's Swimming,1,2,America East Conference,78,...,1.0000,1.0000,14,1000,1.0000,1.0000,12,1000,1.0000,1.0000
280,110486,"California State University, Bakersfield",0,2014,18,Men's Wrestling,1,3,Western Athletic Conference,70,...,0.9241,0.8987,19,871,0.8857,0.8571,20,987,1.0000,0.9747
479,120883,University of the Pacific,1,2014,2,Men's Basketball,1,3,West Coast Conference,52,...,0.9167,0.9583,13,981,0.9615,1.0000,13,1000,1.0000,1.0000
3305,198136,Campbell University,1,2014,2,Men's Basketball,1,2,Big South Conference,52,...,1.0000,0.8800,14,946,0.9643,0.9286,13,904,0.9615,0.8462
3291,197869,Appalachian State University,0,2014,14,"Men's Track, Indoor",1,2,Sun Belt Conference,114,...,0.9107,0.9643,24,948,0.9375,0.9583,26,936,0.9362,0.9362

In [186]:
df['avg_scores']=df[['2014_SCORE','2013_SCORE','2012_SCORE','2011_SCORE','2010_SCORE','2009_SCORE','2008_SCORE','2007_SCORE','2006_SCORE','2005_SCORE','2004_SCORE']].mean(axis=1)
df[['SCHOOL_NAME','SPORT_NAME','avg_scores']]

                 SCHOOL_NAME              SPORT_NAME   avg_scores
0     Alabama A&M University                Baseball   938.090909
1     Alabama A&M University                Football   925.181818
2     Alabama A&M University        Men's Basketball   933.363636
3     Alabama A&M University    Men's Track, Outdoor   940.454545
4     Alabama A&M University      Women's Basketball   987.909091
...                      ...                     ...          ...
5442       Purdue University        Women's Swimming   975.363636
5443       Purdue University          Women's Tennis   972.545455
5444       Purdue University   Women's Track, Indoor   975.909091
5445       Purdue University  Women's Track, Outdoor   977.181818
5446       Purdue University      Women's Volleyball  1000.000000

[5447 rows x 3 columns]

In [187]:
df[['SPORT_CODE','SPORT_NAME']].sample(50)

      SPORT_CODE              SPORT_NAME
3665          14     Men's Track, Indoor
2217          11            Men's Soccer
1927          31          Women's Soccer
2700          33          Women's Tennis
4951          15    Men's Track, Outdoor
4276          36      Women's Volleyball
1964          27      Women's Ice Hockey
1621           1                Baseball
4291          34   Women's Track, Indoor
539           19      Women's Basketball
3045          19      Women's Basketball
1898          19      Women's Basketball
4975          33          Women's Tennis
2334          14     Men's Track, Indoor
3141          23         Women's Fencing
2012          34   Women's Track, Indoor
2065          14     Men's Track, Indoor
4041          27      Women's Ice Hockey
2247           1                Baseball
1586          36      Women's Volleyball
140           31          Women's Soccer
4441          15    Men's Track, Outdoor
1108          31          Women's Soccer
4523          21   Women's Cross Country
310            6              Men's Golf
2098           9          Men's Lacrosse
274           31          Women's Soccer
1405           6              Men's Golf
2209          35  Women's Track, Outdoor
1285          19      Women's Basketball
1795           1                Baseball
4274          34   Women's Track, Indoor
2935          31          Women's Soccer
3980          34   Women's Track, Indoor
2679           3     Men's Cross Country
3856          31          Women's Soccer
4779          35  Women's Track, Outdoor
4283          13            Men's Tennis
535            3     Men's Cross Country
3293          18         Men's Wrestling
1706          35  Women's Track, Outdoor
5225           2        Men's Basketball
3163          33          Women's Tennis
4917          12          Men's Swimming
3866          13            Men's Tennis
1894           3     Men's Cross Country
620           35  Women's Track, Outdoor
3586           4                Football
1081           6              Men's Golf
1453          33          Women's Tennis