In [121]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from scipy import stats
%matplotlib inline

import statsmodels.api as sm

In [122]:
df=pd.read_csv("database.csv")

In [123]:
df.columns

Index(['SCHOOL_ID', 'SCHOOL_NAME', 'SCHOOL_TYPE', 'ACADEMIC_YEAR',
       'SPORT_CODE', 'SPORT_NAME', 'NCAA_DIVISION', 'NCAA_SUBDIVISION',
       'NCAA_CONFERENCE', 'FOURYEAR_ATHLETES', 'FOURYEAR_SCORE',
       'FOURYEAR_ELIGIBILITY', 'FOURYEAR_RETENTION', '2014_ATHLETES',
       '2014_SCORE', '2014_ELIGIBILITY', '2014_RETENTION', '2013_ATHLETES',
       '2013_SCORE', '2013_ELIGIBILITY', '2013_RETENTION', '2012_ATHLETES',
       '2012_SCORE', '2012_ELIGIBILITY', '2012_RETENTION', '2011_ATHLETES',
       '2011_SCORE', '2011_ELIGIBILITY', '2011_RETENTION', '2010_ATHLETES',
       '2010_SCORE', '2010_ELIGIBILITY', '2010_RETENTION', '2009_ATHLETES',
       '2009_SCORE', '2009_ELIGIBILITY', '2009_RETENTION', '2008_ATHLETES',
       '2008_SCORE', '2008_ELIGIBILITY', '2008_RETENTION', '2007_ATHLETES',
       '2007_SCORE', '2007_ELIGIBILITY', '2007_RETENTION', '2006_ATHLETES',
       '2006_SCORE', '2006_ELIGIBILITY', '2006_RETENTION', '2005_ATHLETES',
       '2005_SCORE', '2005_ELIGIBILITY', '2005_RETENTION', '2004_ATHLETES',
       '2004_SCORE', '2004_ELIGIBILITY', '2004_RETENTION'],
      dtype='object')

In [124]:
df[['SPORT_CODE','SPORT_NAME']].sample(50)

      SPORT_CODE              SPORT_NAME
2327           2        Men's Basketball
1643          19      Women's Basketball
4144           6              Men's Golf
5202          29        Women's Softball
2380          19      Women's Basketball
5056          12          Men's Swimming
112           14     Men's Track, Indoor
2178          31          Women's Soccer
4361           4                Football
3798          28        Women's Lacrosse
1245           9          Men's Lacrosse
2134           1                Baseball
1903          19      Women's Basketball
3833           8        Men's Ice Hockey
2377          11            Men's Soccer
1494          34   Women's Track, Indoor
5878          32        Women's Swimming
5723          36      Women's Volleyball
4180          35  Women's Track, Outdoor
2579          11            Men's Soccer
5436          14     Men's Track, Indoor
5774          34   Women's Track, Indoor
4359          36      Women's Volleyball
2554          13            Men's Tennis
2041           4                Football
5953          13            Men's Tennis
6375           2        Men's Basketball
4365           8        Men's Ice Hockey
200            1                Baseball
426            4                Football
4452          31          Women's Soccer
2562          28        Women's Lacrosse
128           13            Men's Tennis
3472          18         Men's Wrestling
6473          34   Women's Track, Indoor
5728           6              Men's Golf
4814          25            Women's Golf
3954          32        Women's Swimming
6359           2        Men's Basketball
1099           3     Men's Cross Country
6454          12          Men's Swimming
364           21   Women's Cross Country
5686          32        Women's Swimming
2979          26      Women's Gymnastics
2024           1                Baseball
1976           3     Men's Cross Country
900           22          Women's Rowing
4123          36      Women's Volleyball
3204          21   Women's Cross Country
2358           2        Men's Basketball

In [125]:

df['avg_scores']=df[['2014_SCORE','2013_SCORE','2012_SCORE','2011_SCORE','2010_SCORE','2009_SCORE','2008_SCORE','2007_SCORE','2006_SCORE','2005_SCORE','2004_SCORE']].mean(axis=1)
df[['SCHOOL_NAME','SPORT_NAME','avg_scores']]

                        SCHOOL_NAME          SPORT_NAME  avg_scores
0            Alabama A&M University            Baseball  938.090909
1            Alabama A&M University            Football  925.181818
2            Alabama A&M University    Men's Basketball  933.363636
3            Alabama A&M University          Men's Golf  715.090909
4            Alabama A&M University        Men's Tennis  279.727273
...                             ...                 ...         ...
6506  Florida Gulf Coast University      Women's Soccer  578.272727
6507  Florida Gulf Coast University    Women's Softball  582.727273
6508  Florida Gulf Coast University    Women's Swimming  585.545455
6509  Florida Gulf Coast University      Women's Tennis  588.545455
6510  Florida Gulf Coast University  Women's Volleyball  574.818182

[6511 rows x 3 columns]

In [126]:
df['ACADEMIC_YEAR'].sample(20)

364     2014
6413    2014
4931    2014
3144    2014
1491    2014
5655    2014
67      2014
1342    2014
2266    2014
6398    2014
6167    2014
4068    2014
4749    2014
72      2014
5132    2014
2139    2014
5793    2014
2098    2014
907     2014
4637    2014
Name: ACADEMIC_YEAR, dtype: int64

In [127]:
df.loc[df['SCHOOL_NAME']=='University of Louisville']

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,...,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION,avg_scores
2079,157289,University of Louisville,0,2014,1,Baseball,1,1,Atlantic Coast Conference,107,...,0.8750,33,968,0.9683,0.9524,31,965,0.9828,0.9298,965.000000
2080,157289,University of Louisville,0,2014,4,Football,1,1,Atlantic Coast Conference,359,...,0.9345,89,930,0.9329,0.9207,91,970,0.9645,0.9461,943.545455
2081,157289,University of Louisville,0,2014,2,Men's Basketball,1,1,Atlantic Coast Conference,52,...,0.8846,13,980,1.0000,0.9583,12,833,0.8333,0.8333,964.909091
2082,157289,University of Louisville,0,2014,3,Men's Cross Country,1,1,Atlantic Coast Conference,31,...,1.0000,9,969,1.0000,0.9412,7,1000,1.0000,1.0000,985.909091
2083,157289,University of Louisville,0,2014,6,Men's Golf,1,1,Atlantic Coast Conference,36,...,0.9412,8,967,1.0000,0.9333,9,882,1.0000,0.7647,948.545455
2084,157289,University of Louisville,0,2014,11,Men's Soccer,1,1,Atlantic Coast Conference,113,...,0.9394,19,894,0.9091,0.8788,19,955,0.9118,0.9697,954.909091
2085,157289,University of Louisville,0,2014,12,Men's Swimming,1,1,Atlantic Coast Conference,134,...,1.0000,13,870,0.8696,0.8696,7,917,0.8333,1.0000,963.545455
2086,157289,University of Louisville,0,2014,13,Men's Tennis,1,1,Atlantic Coast Conference,54,...,0.9600,11,1000,1.0000,1.0000,10,912,1.0000,0.8235,970.909091
2087,157289,University of Louisville,0,2014,14,"Men's Track, Indoor",1,1,Atlantic Coast Conference,48,...,1.0000,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000,788.090909
2088,157289,University of Louisville,0,2014,15,"Men's Track, Outdoor",1,1,Atlantic Coast Conference,104,...,1.0000,27,891,0.8889,0.8723,23,953,0.9302,0.9762,951.545455
2089,157289,University of Louisville,0,2014,19,Women's Basketball,1,1,Atlantic Coast Conference,62,...,0.9310,13,981,1.0000,0.9615,13,1000,1.0000,1.0000,966.636364
2090,157289,University of Louisville,0,2014,21,Women's Cross Country,1,1,Atlantic Coast Conference,60,...,1.0000,-99,-99,-99.0000,-99.0000,10,925,0.9500,0.9000,878.272727
2091,157289,University of Louisville,0,2014,24,Women's Field Hockey,1,1,Atlantic Coast Conference,84,...,0.9737,22,966,0.9773,0.9546,21,1000,1.0000,1.0000,983.727273
2092,157289,University of Louisville,0,2014,25,Women's Golf,1,1,Atlantic Coast Conference,38,...,0.9333,7,962,1.0000,0.9231,8,967,1.0000,0.9333,984.636364
2093,157289,University of Louisville,0,2014,28,Women's Lacrosse,1,1,Atlantic Coast Conference,107,...,-99.0000,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000,587.636364
2094,157289,University of Louisville,0,2014,22,Women's Rowing,1,1,Atlantic Coast Conference,156,...,0.9808,23,967,0.9556,0.9778,20,959,0.9730,0.9444,983.545455
2095,157289,University of Louisville,0,2014,31,Women's Soccer,1,1,Atlantic Coast Conference,97,...,0.9460,20,988,1.0000,0.9750,21,974,1.0000,0.9231,980.272727
2096,157289,University of Louisville,0,2014,29,Women's Softball,1,1,Atlantic Coast Conference,72,...,0.9667,13,1000,1.0000,1.0000,15,1000,1.0000,1.0000,992.727273
2097,157289,University of Louisville,0,2014,32,Women's Swimming,1,1,Atlantic Coast Conference,136,...,0.9773,19,958,0.9444,0.9722,14,981,0.9630,1.0000,983.272727
2098,157289,University of Louisville,0,2014,33,Women's Tennis,1,1,Atlantic Coast Conference,35,...,0.8889,8,1000,1.0000,1.0000,10,900,0.9500,0.8500,965.000000
2099,157289,University of Louisville,0,2014,34,"Women's Track, Indoor",1,1,Atlantic Coast Conference,110,...,0.9756,23,946,0.9783,0.9130,32,975,0.9833,0.9667,978.454545
2100,157289,University of Louisville,0,2014,35,"Women's Track, Outdoor",1,1,Atlantic Coast Conference,117,...,0.9756,23,946,0.9783,0.9130,32,975,0.9833,0.9667,977.000000
2101,157289,University of Louisville,0,2014,36,Women's Volleyball,1,1,Atlantic Coast Conference,48,...,0.9500,14,940,0.9600,0.9200,13,1000,1.0000,1.0000,979.818182

In [128]:
div=df.groupby('SCHOOL_NAME')['t']

KeyError: 'Column not found: t'